
<h1>About the Citizen Science Portal</h1>
<p>Want to learn more about your environment and contribute to science, research and decision making?
</p><p>
The Citizen OBservatory WEB (COBWEB) Portal enables citizens like you to collect environmental data using mobile devices such as smartphones or tablets.
</p><p>
COBWEB develops resources which allow you to take part in, and even initiate your own, environmental surveys collecting important scientific data.
</p><p>
COBWEB is working with researchers, policy makers, enterprise and local citizen and communities. This collaboration helps us to make sure the tools and approaches we develop suit their needs and goals, and benefit their communities.
</p><p>
COBWEB is working within the UNESCO World Network of Biosphere Reserves.
</p><p>
The project uses open technologies and standards. We want to make sure data are collected so that they can be compared to authoritative data and re-used by other projects.
</p><p>
This project has received funding from the European Unions Seventh Programme for research, technological development and demonstration under grant agreement No 308513.
</p>