    <header>
        <div class="container">     
            <img src="../../catalog/views/cobweb/images/eu.png" class="pull-right" style="margin:3px"/>
            <div class="pull-right text-right hidden-sm hidden-xs" style="font-size:10px;color:white;width:260px;margin:3px;">
            This project has received funding from<br/> 
            the European Union’s Seventh Programme<br/> for research, 
            technological development and<br/> 
            demonstration under grant agreement No 308513.
            </div>
            
            <img src="../../catalog/views/cobweb/images/tree.png" class="pull-left"/> 
            <h2 class="hidden-xs">{{info.site.name}}</h2>
        </div>
    </header>