    <div class="container">
      <div>
         <div class="row">
              <div class="col-sm-12 hidden-xs">   
              <div class="pull-right">
                <img src="../../catalog/views/cobweb/images/biosphere.png"/>
              </div>
                <img src="../../catalog/views/cobweb/images/phone.png" class="pull-left"/>
                <h2>{{"HomeHeader"|translate}}</h2>
                
                 </div>
         </div>      
		 
         <div class="row">
        <div class="col-sm-12 hidden-xs">
          <tabset id="info-tabset" class="nav nav-tabs nav-justified">
            <tab active="infoTabs.recentSurveys.active">
                 <tab-heading><span class="fa fa-list"></span> {{'recentSurveys' | translate}}</tab-heading>
                    <div data-ng-include="'../../catalog/views/cobweb/templates/surveyscarousel.html'"></div>
            </tab>
          </tabset>
        </div>
      </div>		
		  <div class="row">
			<div class="col-xs-12">
		       <div data-ng-include="'../../catalog/views/cobweb/templates/home-results.html'">
			   
			  <!-- <form class="form-horizontal"
                  role="nav"
                  data-ng-controller="gnsSearchLatestController"
                  data-ng-search-form=""
                  data-runSearch="true"
                  data-ng-show="searchResults.records.length > 0">
              <div data-gn-info-list=""></div>
            </form>-->
			   
		       </div>
			</div>
		  </div>
	   </div>
    </div>
