    
<div class="hidden-xs" data-ng-include="'../../catalog/views/cobweb/templates/header.html'"></div>

<div class="navbar navbar-default gn-top-bar" role="navigation"
     data-ng-include="'../../catalog/views/cobweb/templates/top-toolbar.html'">
</div>

<div data-gn-alert-manager=""></div>

<div class="container" style="background-color:white">
	<div class="gn-search-page"
		 data-ng-controller="GnSearchController">
	  <cookiewarning></cookiewarning>
	  <div class="" data-ng-controller="gnsCobweb">
		<div data-ng-include="'../../catalog/views/cobweb/templates/home.html'"
			 data-ng-show="activeTab == '/home'"/>
		<div data-ng-include="'../../catalog/views/default/templates/results.html'"
			 data-ng-show="activeTab == '/search'"/>
		<div data-ng-if="isMapViewerEnabled" 
			 data-ng-include="'../../catalog/views/default/templates/map.html'"
			 data-ng-show="activeTab == '/map'"/>
		<div data-ng-include="'../../catalog/views/cobweb/templates/recordView.html'"
			 data-ng-show="activeTab == '/metadata'"/>
		<div data-ng-include="'../../catalog/views/cobweb/templates/about.html'"
			 data-ng-show="activeTab == '/about'"/>
	  </div>
	</div>
</div>

<footer class="footer">
	<div class="container">
		Powered by <a target="_blank" href="http://geonetwork-opensource.org">GeoNetwork Opensource</a>
		<div class="pull-right">
			<a target="_blank" href="/docs/COBWEB-EULA.pdf">EULA</a> -
			<a target="_blank" href="/docs/COBWEB-PrivacyPolicy.pdf">Privacy Policy</a> -
			<a target="_blank" href="/docs/COBWEB-CookiePolicy.pdf">Cookie Policy</a> -
			<a target="_blank" href="/docs/COBWEB-TakeDownPolicy.pdf">Take Down Policy</a>
		</div>
	</div>
</footer>
