<div class="cookie-warning" 
     data-ng-show="{{showCookieWarning}}"
     data-ng-controller="CookieWarningController">

	<p class="{showCookieWarning}"  data-translate="">useCookies</p>
	<p>
		<a href="http://sitebeam.net/cookielaw/" target="cookie_law" data-translate="">learnMore</a>
	</p>
	<p>
		<span class="btn btn-success btn-sm" data-ng-click="close()" data-translate="">Accept</span>  <span class="btn btn-warning btn-sm"
			data-ng-click="goAway()" data-translate="">Leave</span>
	</p>
</div>
